main {
    height: 2500px;
    min-height: 2500px;
    background-color: #689;
    padding: 25px;
    text-align: center;
}

section img {
    width: 100px;
    margin-bottom: 15px;
}

section {
    border: 1px dashed yellow;
    width: 350px;
    padding: 15px;
    background-color: #943;
    color: white;
    margin: 25px;
    border-radius: 15px;
}

section h3 {
    font-size: 24px;
    margin-bottom: 20px;
    text-decoration: underline;
}

main .section-cards-header h1 {
    color: white;
    margin-bottom: 40px;
}

main .section-cards-body {
    display: flex;
    
    /* flex-wrap: nowrap; */
    flex-wrap: wrap;

    justify-content: space-evenly;
}